[Unit]
Description=Primus on Kubernetes history server
After=hdfs.service

[Service]
User=<USER>
Type=simple
Environment=PRIMUS_HISTORY_PORT=7890
ExecStart=/bin/bash /usr/lib/primus-kubernetes/sbin/primus-history-server
ExecStop=/bin/kill -KILL $MAINPID
RemainAfterExit=yes
TimeoutStartSec=1min
Restart=no

[Install]
WantedBy=multi-user.target
